.newsListContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.newsLink{
   color: inherit;
   text-decoration: none;

}
.news {
  width: 47%;
  height: 450px;
  margin: 10px auto;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

.imgcontainer {
  height: 200px;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.feedimage {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.contents {
  width: 98%;
  height: fit-content;
  padding: 10px;
}
